---
layout: default
---

<article class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title | escape }}</h1>
	</header>

	<div class="post-content">
		{% assign sorted_schedule = site.schedule | sort: "sequence_id" %}
		<table>
			{% for scheduleitem in sorted_schedule %}
			<tr>
				<td>
					<p align="center" style="white-space: nowrap;">
						{{ scheduleitem.time }}
					</p>
				</td>
				<td align="center">
					<div class="col-xs-12">
						<b>{{ scheduleitem.title }}</b>
					</div>
				</td>
				<td>
					<div class="people-name text-center">
						{% if scheduleitem.webpage %}
						<a href="{{ scheduleitem.webpage }}" target="_blank">{{ scheduleitem.speaker }}</a>
						{% else %}
						{{ scheduleitem.speaker }}
						{% endif %}

						{% if scheduleitem.comment %}
						<br><i>{{ scheduleitem.comment }}</i>
						{% endif %}
						<br>
						{% if scheduleitem.affil_link %}
						<a href="{{ scheduleitem.affil_link }}" target="_blank">{{ scheduleitem.affil }}</a>
						{% elsif scheduleitem.affil != "" %}
						{{ scheduleitem.affil }}
						{% endif %}
					</div>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

</article>